* {
	background-color: aliceblue;
	font-family: "Calibri";
	color: #301242;
}

body {
	width: 1000px;
	height: 500px;
	/*background-color: #00deaf;*/
}

/*div {	
	display: block;
	float: left;
	background-color: #888;
	min-height: 500px;
	height: auto;
	min-width: 95px;
	border: solid 1px;
}*/

#grid {
	display: none;
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(25px, auto);
	row-gap: 0px;
	column-gap: 0px;
}

.cell {
	background-color: #d8dfe5;
	text-align: center;
}

span {
	color: #00F;
	background-color: #00deaf;
}

input[type=text], input[type=password]{
	width: 200px;
	height: 50px;
	padding: 0px;
	margin: 10px 10px 10px 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button{
	background-color: #d8dfe5
}

a{
	font-size: 15;
	color: #701f78;
	text-decoration: none;
	font-weight: bold;
	background-color: #d8dfe5;
}